* {
  box-sizing: border-box;
  font-family: monospace;
}
html {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
body {
  margin: 0 auto;
  max-width: 720px;
}

.output {
  background: black;
  color: white;
  padding: 1em;
  overflow: scroll;
  max-height: 300px;
}

.status {
  padding: 1em 0;
}
